<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/noahcooper/luminateEdit/blob/master/opera/luminateEdit_opera.oex?raw=true" version="1.10">
	<name>Luminate Online Page Editor</name>
	<description>Edit Luminate Online pages with just one click.</description>
  	<author href="https://github.com/noahcooper/luminateEdit" email="noah.cooper@blackbaud.com">Noah Cooper</author>
  	<icon src="icons/logo64.png"/>
</widget>